<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>163940959099-4q8kph994toqgpp3l70r1879tu3sqive.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163940959099-4q8kph994toqgpp3l70r1879tu3sqive</string>
	<key>API_KEY</key>
	<string>AIzaSyBcb3WeH_A3REOx_9ogzbvxJnORaSSqHEw</string>
	<key>GCM_SENDER_ID</key>
	<string>163940959099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joseapablaza.eToDoApp</string>
	<key>PROJECT_ID</key>
	<string>maptracker-91ea1</string>
	<key>STORAGE_BUCKET</key>
	<string>maptracker-91ea1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:163940959099:ios:d4973c57da7ee11b</string>
	<key>DATABASE_URL</key>
	<string>https://maptracker-91ea1.firebaseio.com</string>
</dict>
</plist>